.list_wrapper{
    padding-top: 2%;
    color: white;
    margin: 0%;
}
ul{
    list-style-type: none;
    padding: 0;
}
.delete_btn{
    padding: 1%;
    margin-top:10%;
    background-color: red;
    font-family:'Helvetica', sans-serif;
    float: right;
}
hr{
    border: 0.2px solid grey
}