<section class="controllers">
    <div class="start_btn" (click)="startTimer()">
        <span><i class="fa fa-xs" [ngClass]="isTimerRunning?'fa-stop':'fa-play'"></i></span>
        <span class="text">{{isTimerRunning?'Pause':'Play'}}</span>
    </div>
    <div class="record_time" (click)="recordTime()">
        <i class="fa fa-stopwatch fa-xs"></i>
    </div>
    <div class="delete_records" (click)="deleteAllRecords()">
        <span><i class="far fa-trash-alt fa-xs"></i></span>
    </div>
</section>