@font-face{
    font-family: 'digital-7';
    src: url('../../assets/fonts/digital-7.ttf')
}
@keyframes blinker{
    50%{
        opacity: 0;
    }
}
.clock_wrapper{
    font-family: digital-7,sans-serif;
    font-size: 2em
}
.placeholder{
    opacity: 0.2;
    z-index: 50;
    position: absolute;
}
.time_unit{
    z-index: 100;
    position: relative;
}
.time{
    display: inline-block;
    width: 25px;
    max-width: 35px;
}
.seperator{
    padding-left: 50%;
}