<div class="clock_wrapper">
    <div class="time">
        <h3 class="placeholder">88</h3>
        <h3 class="time_unit">{{record.minutes}}</h3>
    </div>
    <div class="time">
        <span>
            <h3 class="seperator time_unit" [ngStyle]="(isRunning)?this.blinkStyle:{}">:</h3>
        </span>
    </div>
    <div class="time">
        <h3 class="placeholder">88</h3>
        <h3 class="time_unit">
            {{record.seconds}}
        </h3>
    </div>
    <div class="time">
        <span>
            <h3 class="seperator time_unit" [ngStyle]="(isRunning)?this.blinkStyle:{}">.</h3>
        </span>
    </div>
    <div class="time">
        <h3 class="placeholder">88</h3>
        <h3 class="time_unit">{{record.millis}}</h3>
    </div>
</div>